{{#menu}}
    <h3>{{title}}</h3>
    <ul>{{#items}}
        <li>
            {{#url}}<a href="{{&url}}">{{name}}</a>{{/url}}
            {{^url}}&nbsp;{{/url}}
        </li>
    {{/items}}</ul>
{{/menu}}