<div class="page__menu menu sticky">
    {{#each menu}}
    <h3 class="menu__title">{{title}}</h3>
    <ul class="menu__items">
        {{#each items}}
        <li class="menu__item">
            {{~#if url~}}
            <a href="{{url}}">{{name}}</a>
            {{~else~}}
            &nbsp;
            {{~/if~}}
        </li>
        {{/each}}
    </ul>
    {{/each}}
</div>
