html {
    font-family: 'Fira Mono', monospace;
    font-size: 16px;
}

body {
    color: #222;
    margin: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    color: #222;
    text-decoration: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(148, 204, 51, 0.5);
    outline: 0;
}

@media (pointer: fine) {
    a:focus:before,
    a:hover:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 0.75em;
        right: 0;
        background: #c2e08e;
        opacity: 1;
        z-index: -1;
    }
}

img {
    width: 100%;
    height: auto;
}

.page__menu {
    padding: 24px;
}

.page__images {
    display: none;
}

@media (min-width: 600px) {
    .page {
        display: flex;
        align-items: flex-start;
    }

    .page__menu {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .page__images {
        display: block;
    }

    .page__menu,
    .page__images {
        padding: 6vw;
    }

    .page__images img {
        display: block;
        margin: 0 0 6vw;
    }

    .page__images img:last-child {
        margin: 0;
    }
}

.menu__title {
    font-weight: 500;
    margin: 0 0 12px;
}

.menu__items {
    list-style-type: none;
    margin: 0 0 36px;
    padding: 0;
}

.menu__items:last-child {
    margin: 0;
}

.menu__item a {
    display: inline-block;
    padding: 0.2em 0;
}
